APM Rendering Agent.json
{
  "name": "APM Rendering Agent - deterministic WORKING",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "92bb125d-aabe-4fdb-9d38-876e0e33eb4c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "graphDb",
        "cypherQuery": "=MATCH (pa:PhysicalApplication)\nOPTIONAL MATCH (pa)-[:IMPLEMENTS]->(la1:LogicalApplication)\nOPTIONAL MATCH (la1)-[:CHILD_OF]->(la2:LogicalApplication)\nOPTIONAL MATCH (la2)-[:CHILD_OF]->(la3:LogicalApplication)\nOPTIONAL MATCH (la3)-[:CHILD_OF]->(la4:LogicalApplication)\nOPTIONAL MATCH (la4)-[:CHILD_OF]->(la5:LogicalApplication)\nRETURN \n  pa.name AS PhysicalApplication,\n  pa.displayId AS PhysicalAppID,\n  la1.name AS LogicalLevel1,\n  la1.displayId AS LogicalID1,\n  la2.name AS LogicalLevel2,\n  la2.displayId AS LogicalID2,\n  la3.name AS LogicalLevel3,\n  la3.displayId AS LogicalID3,\n  la4.name AS LogicalLevel4,\n  la4.displayId AS LogicalID4,\n  la5.name AS LogicalLevel5,\n  la5.displayId AS LogicalID5\nORDER BY \n  COALESCE(la5.name, ''), \n  COALESCE(la4.name, ''), \n  COALESCE(la3.name, ''), \n  COALESCE(la2.name, ''), \n  COALESCE(la1.name, ''), \n  pa.name"
      },
      "type": "n8n-nodes-neo4j.neo4j",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "8a63efad-20c1-46ed-9f0f-63adc6103d80",
      "name": "ExecuteQuery graphDb",
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "neo4jApi": {
          "id": "raKiDnFaS75p5tDT",
          "name": "Neo4j account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node (JavaScript)\n * Compact hierarchical layout with local search:\n * - Leaves: choose best pill columns (1..3)\n * - Non-leaves: choose best child columns (1..3) with tallest-first column balancing\n * - Top-level ordered (Core → Corporate → Enabling → others), same width\n * - Bounding box (1:√2) + background as requested\n * Returns a JSON STRING at json.diagram\n */\n\n// ---------------- Configuration ----------------\nconst PAGE_LEFT = 40;\nconst PAGE_TOP  = 40;\n\n// ========== COMPACT MODE CONFIGURATION ==========\n// Set COMPACT_MODE = true for tighter packing with less whitespace\nconst COMPACT_MODE = true;\n\n// logical container padding (scales with content in compact mode)\nconst LA_PAD_X = COMPACT_MODE ? 40 : 80;\nconst LA_PAD_TOP = COMPACT_MODE ? 60 : 120;\nconst LA_PAD_BOTTOM = COMPACT_MODE ? 40 : 80;\n\n// roots (top-level logicals)\nconst ROOT_V_GAP = COMPACT_MODE ? 60 : 120;\nconst ROOT_MAX_COLS = 1; // keep single column as per your rule\n\n// child logical layout (we'll search 1..CHILD_MAX_COLS)\nconst CHILD_MAX_COLS = 3;\nconst CHILD_H_GAP = COMPACT_MODE ? 30 : 40;\nconst CHILD_V_GAP = COMPACT_MODE ? 50 : 80;\n\n// pills (physical apps) — keep width fixed\nconst PILL_WIDTH = 300;          // fixed\nconst PILL_HEIGHT = 60;\nconst PILL_COL_STEP = COMPACT_MODE ? 320 : 360;       // horizontal spacing between pill columns\nconst PILL_ROW_STEP = COMPACT_MODE ? 80 : 100;        // vertical spacing between pill rows\nconst PILL_MAX_COLS = 3;         // we will search 1..3\n\n// minimum logical width — much more permissive in compact mode\nconst MIN_LOGICAL_WIDTH = COMPACT_MODE\n  ? Math.max(500, LA_PAD_X * 2 + PILL_WIDTH)  // content-driven width\n  : Math.max(1180, LA_PAD_X * 2 + PILL_WIDTH + (PILL_MAX_COLS - 1) * PILL_COL_STEP);\n\n// Whitespace penalty: how much to penalize unused space (0..1)\n// Higher value = tighter packing, lower value = more whitespace acceptable\nconst WHITESPACE_PENALTY = COMPACT_MODE ? 0.4 : 0.0;\n\nconst STENCIL_LOGICAL = \"logicalApplication\";\nconst STENCIL_PHYSICAL = \"physicalApplication\";\nconst STENCIL_BBOX = \"boundingBox\";\nconst STENCIL_BG = \"templateBackground\";\n\nconst DIAGRAM_ID = \"auto-layout\";\nconst DIAGRAM_TITLE = \"System Architecture\";\n\n// Sorting preferences\nconst SORT_LOGICAL_AZ = true;\nconst SORT_PHYSICAL_AZ = false;\n\n// Soft aspect target and weight for cost\n// Lower weight in compact mode to allow flexibility while preventing extreme aspect ratios\nconst TARGET_RATIO = Math.SQRT2;                              // ≈ 1.414 (ISO paper ratio, always enabled)\nconst ASPECT_W = COMPACT_MODE ? 0.0002 : 0.0002;             // equal weight - whitespace penalty now handles root normalization waste\n\n// Extents → bounding box margin & background growth\nconst BBOX_MARGIN = 20;\nconst BG_EXTRA = 20;\n\n// ---------------- Utilities ----------------\nfunction slugify(s) {\n  return String(s)\n    .toLowerCase()\n    .normalize(\"NFKD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\")\n    .slice(0, 80);\n}\n\nfunction nameSort(a, b) { return String(a.name).localeCompare(String(b.name)); }\n\nfunction calculateNodeDepth(node, depth = 0) {\n  // Recursively calculate depth from root\n  // Roots have depth 0, their children have depth 1, etc.\n  node._depth = depth;\n  for (const child of node.children) {\n    calculateNodeDepth(child, depth + 1);\n  }\n}\n\nfunction makeNode(id, name, levelIdx) {\n  return {\n    id,\n    name,\n    levelIdx,               // 5..1 (5 = most general)\n    children: [],\n    apps: [],\n    width: 0, height: 0,\n    x: 0, y: 0,\n    // layout decisions captured during search\n    _leafCols: null,        // chosen pill columns\n    _childCols: null,       // chosen child columns\n    _colAssignments: null   // array of columns, each = [childIdx,...]\n  };\n}\n\n// Cost function to choose between layouts\n// Penalizes both area and wasted whitespace\nfunction layoutCost(width, height, contentWidth = null, contentHeight = null, predictedFinalWidth = null) {\n  const area = width * height;\n\n  // If this node will be expanded to a predicted width (e.g., root width normalization),\n  // calculate waste based on the final expanded dimensions\n  let finalWidth = width;\n  let finalArea = area;\n  if (predictedFinalWidth !== null && predictedFinalWidth > width) {\n    finalWidth = predictedFinalWidth;\n    finalArea = finalWidth * height;\n  }\n\n  // Whitespace penalty: penalize unused space (including expansion waste)\n  let whitespaceComponent = 0;\n  if (WHITESPACE_PENALTY > 0 && contentWidth !== null && contentHeight !== null) {\n    const contentArea = contentWidth * contentHeight;\n    const wastedArea = Math.max(0, finalArea - contentArea);\n    whitespaceComponent = WHITESPACE_PENALTY * wastedArea;\n  }\n\n  // Aspect ratio penalty (based on final dimensions if expanded)\n  let aspectComponent = 0;\n  if (TARGET_RATIO !== null && ASPECT_W > 0) {\n    const ratio = finalWidth / Math.max(1, height);\n    const aspectPenalty = (ratio - TARGET_RATIO) * (ratio - TARGET_RATIO);\n    aspectComponent = ASPECT_W * finalArea * aspectPenalty;\n  }\n\n  return finalArea + whitespaceComponent + aspectComponent;\n}\n\n// Improved column assignment that minimizes whitespace in the container\n// Tests all possible permutations to find the best layout (not just LPT)\nfunction assignChildrenToColumns(children, cols, vGap = CHILD_V_GAP) {\n  if (children.length === 0) {\n    return {\n      colItems: Array.from({ length: cols }, () => []),\n      colHeights: Array(cols).fill(0),\n      colMaxW: Array(cols).fill(0),\n      innerWidth: 0,\n      innerHeight: 0\n    };\n  }\n\n  // For small child counts, try all reasonable orderings to minimize container whitespace\n  // Otherwise use greedy LPT\n  const useExhaustiveSearch = children.length <= 10;\n\n  let bestLayout = null;\n  let bestWaste = Infinity;\n\n  if (useExhaustiveSearch) {\n    // Try multiple heuristic orderings and pick the one with least whitespace\n    const orderings = [\n      // LPT: tallest first\n      children.map((ch, idx) => ({ idx, h: ch.height, w: ch.width }))\n        .sort((a, b) => b.h - a.h),\n      // Reverse LPT: shortest first\n      children.map((ch, idx) => ({ idx, h: ch.height, w: ch.width }))\n        .sort((a, b) => a.h - b.h),\n      // By width (widest first)\n      children.map((ch, idx) => ({ idx, h: ch.height, w: ch.width }))\n        .sort((a, b) => b.w - a.w),\n      // By area (largest first)\n      children.map((ch, idx) => ({ idx, h: ch.height, w: ch.width, a: ch.height * ch.width }))\n        .sort((a, b) => b.a - a.a),\n    ];\n\n    for (const ordering of orderings) {\n      const layout = assignChildrenToColumnsGreedy(ordering, cols, children, vGap);\n      const waste = layout.innerWidth * layout.innerHeight * (1 - getContentArea(layout, children) / (layout.innerWidth * layout.innerHeight));\n\n      if (waste < bestWaste) {\n        bestWaste = waste;\n        bestLayout = layout;\n      }\n    }\n  } else {\n    // For many children, just use LPT\n    const order = children\n      .map((ch, idx) => ({ idx, h: ch.height, w: ch.width }))\n      .sort((a, b) => b.h - a.h);\n    bestLayout = assignChildrenToColumnsGreedy(order, cols, children, vGap);\n  }\n\n  return bestLayout;\n}\n\n// Helper: greedy assignment given a specific ordering\nfunction assignChildrenToColumnsGreedy(order, cols, children, vGap) {\n  const colHeights = Array(cols).fill(0);\n  const colMaxW    = Array(cols).fill(0);\n  const colItems   = Array.from({ length: cols }, () => []);\n\n  for (const { idx } of order) {\n    const { height: h, width: w } = children[idx];\n\n    // Choose column with smallest current height\n    let bestC = 0;\n    let bestH = colHeights[0];\n    for (let c = 1; c < cols; c++) {\n      if (colHeights[c] < bestH) {\n        bestH = colHeights[c];\n        bestC = c;\n      }\n    }\n\n    // Place child into best column\n    colItems[bestC].push(idx);\n\n    // Update height (+ gap if not first)\n    if (colHeights[bestC] > 0) {\n      colHeights[bestC] += vGap;\n    }\n    colHeights[bestC] += h;\n\n    // Update max width\n    colMaxW[bestC] = Math.max(colMaxW[bestC], w);\n  }\n\n  // Overall inner width and height\n  const innerWidth = colMaxW.reduce((a, b) => a + b, 0) + (cols - 1) * CHILD_H_GAP;\n  const innerHeight = Math.max(...colHeights, 0);\n\n  return { colItems, colHeights, colMaxW, innerWidth, innerHeight };\n}\n\n// Helper: calculate actual content area used in layout\nfunction getContentArea(layout, children) {\n  let totalArea = 0;\n  const { colItems } = layout;\n\n  for (let c = 0; c < colItems.length; c++) {\n    const indices = colItems[c];\n    let colArea = 0;\n    for (let i = 0; i < indices.length; i++) {\n      const idx = indices[i];\n      colArea += children[idx].width * children[idx].height;\n      if (i > 0) colArea += CHILD_V_GAP * children[idx].width; // gap area\n    }\n    totalArea += colArea;\n  }\n\n  // Add inter-column gaps\n  if (colItems.length > 1) {\n    const totalHeight = Math.max(...colItems.map((col, c) => {\n      let h = 0;\n      for (const idx of col) {\n        h += children[idx].height;\n        if (col.indexOf(idx) > 0) h += CHILD_V_GAP;\n      }\n      return h;\n    }));\n    totalArea += (colItems.length - 1) * CHILD_H_GAP * totalHeight;\n  }\n\n  return totalArea;\n}\n\n// ============================================================================\n// 2D BIN PACKING: MaxRects Algorithm with BSSF (Best Short Side Fit)\n// ============================================================================\n\n// MaxRects 2D packing for logical children (non-leaf nodes)\n// Returns placements with (x, y) coordinates for each child\nfunction layout2DMaxRects(children, maxWidth, hGap = CHILD_H_GAP, vGap = CHILD_V_GAP, heuristic = 'BSSF', sortStrategy = 'area') {\n  if (children.length === 0) {\n    return { placements: [], width: 0, height: 0 };\n  }\n\n  // Choose sort function based on strategy\n  let sortFn;\n  switch (sortStrategy) {\n    case 'area':\n      sortFn = (a, b) => (b.width * b.height) - (a.width * a.height);\n      break;\n    case 'height':\n      sortFn = (a, b) => b.height - a.height;\n      break;\n    case 'width':\n      sortFn = (a, b) => b.width - a.width;\n      break;\n    case 'perimeter':\n      sortFn = (a, b) => ((b.width + b.height) - (a.width + a.height));\n      break;\n    case 'aspectRatioWH':\n      sortFn = (a, b) => (b.width / b.height) - (a.width / a.height);\n      break;\n    case 'aspectRatioHW':\n      sortFn = (a, b) => (b.height / b.width) - (a.height / a.width);\n      break;\n    default:\n      sortFn = (a, b) => (b.width * b.height) - (a.width * a.height); // Default to area\n  }\n\n  // Sort by chosen strategy\n  const sorted = children\n    .map((ch, idx) => ({\n      idx,\n      width: ch.width,\n      height: ch.height,\n      child: ch\n    }))\n    .sort(sortFn);\n\n  // Initialize free rectangles with the full container\n  const freeRects = [{ x: 0, y: 0, width: maxWidth, height: 999999 }];\n  const placements = [];\n  const occupiedRects = []; // Track all occupied space for validation\n\n  for (const item of sorted) {\n    // Reserve space for item + gap on right and bottom\n    const reservedWidth = item.width + hGap;\n    const reservedHeight = item.height + vGap;\n\n    // Find best position using specified heuristic (for reserved space)\n    const placement = findPositionWithHeuristic(freeRects, reservedWidth, reservedHeight, heuristic, occupiedRects);\n\n    if (!placement) {\n      // Fallback: stack vertically if can't fit\n      const fallbackY = occupiedRects.length > 0\n        ? Math.max(...occupiedRects.map(r => r.y + r.height))\n        : 0;\n\n      const newPlacement = {\n        idx: item.idx,\n        x: 0,\n        y: fallbackY,\n        width: item.width,\n        height: item.height\n      };\n\n      placements.push(newPlacement);\n      occupiedRects.push({\n        x: 0,\n        y: fallbackY,\n        width: reservedWidth,\n        height: reservedHeight\n      });\n      continue;\n    }\n\n    // Validate no overlap with existing placements\n    const newOccupied = {\n      x: placement.x,\n      y: placement.y,\n      width: reservedWidth,\n      height: reservedHeight\n    };\n\n    // Check for overlaps (shouldn't happen, but safety check)\n    let hasOverlap = false;\n    for (const occupied of occupiedRects) {\n      if (rectanglesOverlap(occupied, newOccupied)) {\n        hasOverlap = true;\n        break;\n      }\n    }\n\n    if (hasOverlap) {\n      // Safety: use fallback if overlap detected\n      const fallbackY = occupiedRects.length > 0\n        ? Math.max(...occupiedRects.map(r => r.y + r.height))\n        : 0;\n\n      placements.push({\n        idx: item.idx,\n        x: 0,\n        y: fallbackY,\n        width: item.width,\n        height: item.height\n      });\n\n      occupiedRects.push({\n        x: 0,\n        y: fallbackY,\n        width: reservedWidth,\n        height: reservedHeight\n      });\n    } else {\n      // Store placement (actual item dimensions at this position)\n      placements.push({\n        idx: item.idx,\n        x: placement.x,\n        y: placement.y,\n        width: item.width,\n        height: item.height\n      });\n\n      // Track occupied space (including gap)\n      occupiedRects.push(newOccupied);\n\n      // Update free rectangles after placing this item (reserve space including gap)\n      updateFreeRectangles(freeRects, placement.x, placement.y, reservedWidth, reservedHeight);\n    }\n  }\n\n  // Calculate final container dimensions (including all items and gaps)\n  let usedWidth = 0;\n  let usedHeight = 0;\n\n  if (placements.length > 0) {\n    // Find rightmost and bottommost extents\n    for (const p of placements) {\n      usedWidth = Math.max(usedWidth, p.x + p.width);\n      usedHeight = Math.max(usedHeight, p.y + p.height);\n    }\n  }\n\n  return {\n    placements: placements,\n    width: usedWidth,\n    height: usedHeight\n  };\n}\n\n// Multi-strategy exhaustive search (for small nodes ≤8 children)\n// Tries all combinations of heuristics × sort strategies\nfunction layout2DMultiStrategy(children, maxWidth, hGap = CHILD_H_GAP, vGap = CHILD_V_GAP) {\n  const heuristics = ['BSSF', 'BLSF', 'BAF', 'BL', 'CP'];\n  const sortStrategies = ['area', 'height', 'width', 'perimeter', 'aspectRatioWH', 'aspectRatioHW'];\n\n  let bestPacking = null;\n  let bestWaste = Infinity;\n\n  for (const heuristic of heuristics) {\n    for (const sortStrategy of sortStrategies) {\n      const packing = layout2DMaxRects(children, maxWidth, hGap, vGap, heuristic, sortStrategy);\n      const waste = packing.width * packing.height - children.reduce((sum, ch) => sum + ch.width * ch.height, 0);\n\n      if (waste < bestWaste) {\n        bestWaste = waste;\n        bestPacking = packing;\n      }\n    }\n  }\n\n  return bestPacking;\n}\n\n// Genetic Algorithm for 2D packing (for large nodes ≥16 children)\nfunction layout2DGenetic(children, maxWidth, hGap = CHILD_H_GAP, vGap = CHILD_V_GAP) {\n  const populationSize = 25;\n  const maxGenerations = 60;\n  const mutationRate = 0.3;\n  const noImprovementLimit = 10;\n\n  const heuristics = ['BSSF', 'BLSF', 'BAF', 'BL', 'CP'];\n  const sortStrategies = ['area', 'height', 'width', 'perimeter', 'aspectRatioWH', 'aspectRatioHW'];\n\n  // Initialize population\n  let population = [];\n  for (let i = 0; i < populationSize; i++) {\n    population.push({\n      heuristic: heuristics[Math.floor(Math.random() * heuristics.length)],\n      sortStrategy: sortStrategies[Math.floor(Math.random() * sortStrategies.length)],\n      shuffle: Math.random() > 0.7 // 30% chance to shuffle order\n    });\n  }\n\n  let bestEver = null;\n  let bestEverFitness = -Infinity;\n  let generationsWithoutImprovement = 0;\n\n  for (let gen = 0; gen < maxGenerations; gen++) {\n    // Evaluate fitness for each chromosome\n    const evaluated = population.map(chromo => {\n      const packing = layout2DMaxRects(children, maxWidth, hGap, vGap, chromo.heuristic, chromo.sortStrategy);\n      const area = packing.width * packing.height;\n      const contentArea = children.reduce((sum, ch) => sum + ch.width * ch.height, 0);\n      const fitness = contentArea / (area + 1); // Higher is better (less waste)\n\n      return { chromo, packing, fitness };\n    });\n\n    // Sort by fitness\n    evaluated.sort((a, b) => b.fitness - a.fitness);\n\n    // Track best\n    if (evaluated[0].fitness > bestEverFitness) {\n      bestEverFitness = evaluated[0].fitness;\n      bestEver = evaluated[0].packing;\n      generationsWithoutImprovement = 0;\n    } else {\n      generationsWithoutImprovement++;\n    }\n\n    // Early stopping only if we've exhausted search space AND hit plateau\n    // Since we have limited chromosome space (5 heuristics × 6 sorts = 30 combinations),\n    // we need to run longer to properly explore through mutations and crossover\n    if (generationsWithoutImprovement >= noImprovementLimit && gen > maxGenerations * 0.6) {\n      break;\n    }\n\n    // Selection: keep top 50%\n    const survivors = evaluated.slice(0, Math.ceil(populationSize / 2));\n\n    // Create next generation\n    const nextGen = survivors.map(s => s.chromo); // Keep survivors\n\n    // Crossover and mutation to fill remaining slots\n    while (nextGen.length < populationSize) {\n      const parent1 = survivors[Math.floor(Math.random() * survivors.length)].chromo;\n      const parent2 = survivors[Math.floor(Math.random() * survivors.length)].chromo;\n\n      const child = {\n        heuristic: Math.random() < 0.5 ? parent1.heuristic : parent2.heuristic,\n        sortStrategy: Math.random() < 0.5 ? parent1.sortStrategy : parent2.sortStrategy,\n        shuffle: Math.random() < 0.5 ? parent1.shuffle : parent2.shuffle\n      };\n\n      // Mutation\n      if (Math.random() < mutationRate) {\n        child.heuristic = heuristics[Math.floor(Math.random() * heuristics.length)];\n      }\n      if (Math.random() < mutationRate) {\n        child.sortStrategy = sortStrategies[Math.floor(Math.random() * sortStrategies.length)];\n      }\n\n      nextGen.push(child);\n    }\n\n    population = nextGen;\n  }\n\n  return bestEver || layout2DMaxRects(children, maxWidth, hGap, vGap, 'BSSF', 'area');\n}\n\n// Beam Search for 2D packing (for medium nodes 9-15 children)\nfunction layout2DBeamSearch(children, maxWidth, hGap = CHILD_H_GAP, vGap = CHILD_V_GAP, beamWidth = 8) {\n  if (children.length === 0) {\n    return { placements: [], width: 0, height: 0 };\n  }\n\n  const heuristics = ['BSSF', 'BLSF', 'BAF'];\n\n  // Initialize beam with top heuristic-based partial solutions\n  let beam = [];\n\n  for (const heuristic of heuristics) {\n    const packing = layout2DMaxRects(children, maxWidth, hGap, vGap, heuristic, 'area');\n    const waste = packing.width * packing.height - children.reduce((sum, ch) => sum + ch.width * ch.height, 0);\n    beam.push({ packing, waste });\n  }\n\n  // Try different sort strategies on best heuristics\n  const sortStrategies = ['height', 'width', 'perimeter', 'aspectRatioWH', 'aspectRatioHW'];\n  for (const heuristic of heuristics) {\n    for (const sortStrategy of sortStrategies) {\n      const packing = layout2DMaxRects(children, maxWidth, hGap, vGap, heuristic, sortStrategy);\n      const waste = packing.width * packing.height - children.reduce((sum, ch) => sum + ch.width * ch.height, 0);\n      beam.push({ packing, waste });\n    }\n  }\n\n  // Sort beam by waste and keep top beamWidth\n  beam.sort((a, b) => a.waste - b.waste);\n  beam = beam.slice(0, beamWidth);\n\n  // Return best from beam\n  return beam[0].packing;\n}\n\n// Check if two rectangles overlap (including edges touching)\nfunction rectanglesOverlap(r1, r2) {\n  return !(r1.x >= r2.x + r2.width ||\n           r1.x + r1.width <= r2.x ||\n           r1.y >= r2.y + r2.height ||\n           r1.y + r1.height <= r2.y);\n}\n\n// Find best position using specified heuristic\n// Heuristics: 'BSSF', 'BLSF', 'BAF', 'BL', 'CP'\nfunction findPositionWithHeuristic(freeRects, itemWidth, itemHeight, heuristic = 'BSSF', occupiedRects = []) {\n  let bestRect = null;\n  let bestScore = Infinity;\n  let bestSecondaryScore = Infinity;\n\n  for (const rect of freeRects) {\n    // Check if item fits in this rectangle\n    if (rect.width >= itemWidth && rect.height >= itemHeight) {\n      const leftoverHoriz = rect.width - itemWidth;\n      const leftoverVert = rect.height - itemHeight;\n      const leftoverArea = leftoverHoriz * leftoverVert +\n                          (rect.width - itemWidth) * itemHeight +\n                          itemWidth * (rect.height - itemHeight);\n\n      let score, secondaryScore;\n\n      switch (heuristic) {\n        case 'BSSF': // Best Short Side Fit\n          score = Math.min(leftoverHoriz, leftoverVert);\n          secondaryScore = Math.max(leftoverHoriz, leftoverVert);\n          break;\n\n        case 'BLSF': // Best Long Side Fit\n          score = Math.max(leftoverHoriz, leftoverVert);\n          secondaryScore = Math.min(leftoverHoriz, leftoverVert);\n          break;\n\n        case 'BAF': // Best Area Fit\n          score = leftoverArea;\n          secondaryScore = Math.min(leftoverHoriz, leftoverVert);\n          break;\n\n        case 'BL': // Bottom-Left (prefer lowest y, then leftmost x)\n          score = rect.y;\n          secondaryScore = rect.x;\n          break;\n\n        case 'CP': // Contact Point (maximize perimeter touching existing items)\n          const contactScore = calculateContactPerimeter(rect.x, rect.y, itemWidth, itemHeight, occupiedRects);\n          score = -contactScore; // Negative because we want to maximize contact\n          secondaryScore = Math.min(leftoverHoriz, leftoverVert);\n          break;\n\n        default:\n          score = Math.min(leftoverHoriz, leftoverVert); // Default to BSSF\n          secondaryScore = Math.max(leftoverHoriz, leftoverVert);\n      }\n\n      // Pick best based on primary score, break ties with secondary\n      if (score < bestScore || (score === bestScore && secondaryScore < bestSecondaryScore)) {\n        bestRect = rect;\n        bestScore = score;\n        bestSecondaryScore = secondaryScore;\n      }\n    }\n  }\n\n  if (!bestRect) return null;\n\n  return {\n    x: bestRect.x,\n    y: bestRect.y,\n    width: itemWidth,\n    height: itemHeight\n  };\n}\n\n// Calculate perimeter in contact with already-placed items\nfunction calculateContactPerimeter(x, y, width, height, occupiedRects) {\n  let contact = 0;\n  const right = x + width;\n  const bottom = y + height;\n\n  for (const occupied of occupiedRects) {\n    const occRight = occupied.x + occupied.width;\n    const occBottom = occupied.y + occupied.height;\n\n    // Check left edge contact\n    if (Math.abs(x - occRight) < 0.1 && rangesOverlap(y, bottom, occupied.y, occBottom)) {\n      contact += Math.min(bottom, occBottom) - Math.max(y, occupied.y);\n    }\n\n    // Check right edge contact\n    if (Math.abs(right - occupied.x) < 0.1 && rangesOverlap(y, bottom, occupied.y, occBottom)) {\n      contact += Math.min(bottom, occBottom) - Math.max(y, occupied.y);\n    }\n\n    // Check top edge contact\n    if (Math.abs(y - occBottom) < 0.1 && rangesOverlap(x, right, occupied.x, occRight)) {\n      contact += Math.min(right, occRight) - Math.max(x, occupied.x);\n    }\n\n    // Check bottom edge contact\n    if (Math.abs(bottom - occupied.y) < 0.1 && rangesOverlap(x, right, occupied.x, occRight)) {\n      contact += Math.min(right, occRight) - Math.max(x, occupied.x);\n    }\n  }\n\n  return contact;\n}\n\n// Check if two 1D ranges overlap\nfunction rangesOverlap(a1, a2, b1, b2) {\n  return Math.max(a1, b1) < Math.min(a2, b2);\n}\n\n// Legacy wrapper for backward compatibility\nfunction findPositionBSSF(freeRects, itemWidth, itemHeight) {\n  return findPositionWithHeuristic(freeRects, itemWidth, itemHeight, 'BSSF', []);\n}\n\n// Update free rectangles after placing an item\nfunction updateFreeRectangles(freeRects, usedX, usedY, usedWidth, usedHeight) {\n  const usedRight = usedX + usedWidth;\n  const usedBottom = usedY + usedHeight;\n\n  const newFreeRects = [];\n\n  for (const rect of freeRects) {\n    const rectRight = rect.x + rect.width;\n    const rectBottom = rect.y + rect.height;\n\n    // Check if this free rectangle intersects with the used space\n    if (intersects(rect, usedX, usedY, usedWidth, usedHeight)) {\n      // Split this rectangle into up to 4 non-overlapping free rectangles\n\n      // Left side (west of used rect)\n      if (rect.x < usedX && rectRight > usedX) {\n        newFreeRects.push({\n          x: rect.x,\n          y: rect.y,\n          width: usedX - rect.x,\n          height: rect.height\n        });\n      }\n\n      // Right side (east of used rect)\n      if (rect.x < usedRight && rectRight > usedRight) {\n        newFreeRects.push({\n          x: usedRight,\n          y: rect.y,\n          width: rectRight - usedRight,\n          height: rect.height\n        });\n      }\n\n      // Top side (north of used rect)\n      if (rect.y < usedY && rectBottom > usedY) {\n        newFreeRects.push({\n          x: rect.x,\n          y: rect.y,\n          width: rect.width,\n          height: usedY - rect.y\n        });\n      }\n\n      // Bottom side (south of used rect)\n      if (rect.y < usedBottom && rectBottom > usedBottom) {\n        newFreeRects.push({\n          x: rect.x,\n          y: usedBottom,\n          width: rect.width,\n          height: rectBottom - usedBottom\n        });\n      }\n    } else {\n      // No intersection, keep this free rectangle as-is\n      newFreeRects.push(rect);\n    }\n  }\n\n  // Clear original array and add new rectangles\n  freeRects.length = 0;\n  freeRects.push(...newFreeRects);\n\n  // Remove rectangles that are fully contained within other rectangles\n  pruneContainedRectangles(freeRects);\n}\n\n// Check if two rectangles intersect\nfunction intersects(rect, x, y, width, height) {\n  return !(rect.x >= x + width ||\n           rect.x + rect.width <= x ||\n           rect.y >= y + height ||\n           rect.y + rect.height <= y);\n}\n\n// Remove rectangles that are fully contained within other rectangles\nfunction pruneContainedRectangles(freeRects) {\n  for (let i = freeRects.length - 1; i >= 0; i--) {\n    for (let j = freeRects.length - 1; j >= 0; j--) {\n      if (i !== j && isContainedIn(freeRects[i], freeRects[j])) {\n        freeRects.splice(i, 1);\n        break;\n      }\n    }\n  }\n}\n\n// Check if rectA is fully contained within rectB\nfunction isContainedIn(rectA, rectB) {\n  return rectA.x >= rectB.x &&\n         rectA.y >= rectB.y &&\n         rectA.x + rectA.width <= rectB.x + rectB.width &&\n         rectA.y + rectA.height <= rectB.y + rectB.height;\n}\n\n// ---------------- Ingest & Build Hierarchy ----------------\nlet rows = [];\nif (items.length === 1 && Array.isArray(items[0].json?.data)) {\n  rows = items[0].json.data;\n} else {\n  rows = items.map(i => i.json);\n}\n\nconst nodesById = new Map();\nconst hasParent = new Set();\n\nfunction getOrCreateNode(id, name, levelIdx) {\n  if (!nodesById.has(id)) {\n    nodesById.set(id, makeNode(id, name, levelIdx));\n  }\n  const n = nodesById.get(id);\n  if (name && !n.name) n.name = name;\n  if (typeof levelIdx === \"number\") n.levelIdx = levelIdx;\n  return n;\n}\n\n// Build paths Level5..Level1 → parent/child; attach apps to most-specific\nfor (const r of rows) {\n  const path = [];\n  for (let lvl = 5; lvl >= 1; lvl--) {\n    const name = r[`LogicalLevel${lvl}`];\n    const id   = r[`LogicalID${lvl}`];\n    if (name && id) path.push({ id, name, levelIdx: lvl });\n  }\n  if (path.length === 0) continue;\n\n  for (let i = 0; i < path.length; i++) {\n    const { id, name, levelIdx } = path[i];\n    const node = getOrCreateNode(id, name, levelIdx);\n    if (i > 0) {\n      const parentInfo = path[i - 1];\n      const parent = getOrCreateNode(parentInfo.id, parentInfo.name, parentInfo.levelIdx);\n      if (!parent.children.find(c => c.id === node.id)) parent.children.push(node);\n      hasParent.add(node.id);\n    }\n  }\n\n  const leafInfo = path[path.length - 1];\n  const leaf = getOrCreateNode(leafInfo.id, leafInfo.name, leafInfo.levelIdx);\n  leaf.apps.push({\n    id: r.PhysicalAppID || slugify(r.PhysicalApplication || \"app\"),\n    name: r.PhysicalApplication || \"\"\n  });\n}\n\n// Roots = nodes without parents\nlet roots = [...nodesById.values()].filter(n => !hasParent.has(n.id));\n\n// Priority order for named roots\nconst ROOT_PRIORITY = [\n  \"Core Business Systems\",\n  \"Corporate Systems\",\n  \"Enabling Systems\",\n];\n\nfunction rootOrderKey(n) {\n  const pIndex = ROOT_PRIORITY.findIndex(name => name.toLowerCase() === String(n.name).toLowerCase());\n  return pIndex === -1 ? 999 : pIndex;\n}\n\nroots.sort((a, b) => {\n  const pa = rootOrderKey(a), pb = rootOrderKey(b);\n  if (pa !== pb) return pa - pb;\n  return nameSort(a, b);\n});\n(function sortTree(nodes){\n  for (const n of nodes) {\n    if (SORT_LOGICAL_AZ) n.children.sort(nameSort);\n    sortTree(n.children);\n  }\n})(roots);\n\n// Calculate depth for each node (0 for roots, 1 for children, 2 for grandchildren, etc.)\n// This is used for alternating background colors in the visual hierarchy\nroots.forEach(root => calculateNodeDepth(root, 0));\n\n// ---------------- Layout: optimise per node ----------------\nfunction sizeLeafOptimised(node) {\n  const apps = SORT_PHYSICAL_AZ ? node.apps.slice().sort((a,b)=>String(a.name).localeCompare(String(b.name))) : node.apps;\n\n  // Try columns 1..PILL_MAX_COLS and pick best cost\n  let best = null;\n\n  for (let cols = 1; cols <= Math.min(PILL_MAX_COLS, Math.max(1, apps.length)); cols++) {\n    const rowsNeeded = Math.max(1, Math.ceil(apps.length / cols));\n    const innerW = PILL_WIDTH + (cols - 1) * PILL_COL_STEP;\n    const contentH = apps.length === 0 ? 0 : (PILL_HEIGHT + (rowsNeeded - 1) * PILL_ROW_STEP);\n\n    const width  = Math.max(MIN_LOGICAL_WIDTH, LA_PAD_X * 2 + innerW);\n    const height = LA_PAD_TOP + contentH + LA_PAD_BOTTOM;\n\n    // Pass content dimensions for whitespace penalty calculation\n    const contentWidth = LA_PAD_X * 2 + innerW;\n    const contentHeight = LA_PAD_TOP + contentH + LA_PAD_BOTTOM;\n    const cost = layoutCost(width, height, contentWidth, contentHeight);\n\n    if (!best || cost < best.cost) {\n      best = { width, height, cols, cost };\n    }\n  }\n\n  node.width    = best.width;\n  node.height   = best.height;\n  node._leafCols = best.cols;\n}\n\n// Special-case optimization for 1-2 children nodes\n// Tests exhaustive layouts (horizontal/vertical) to find mathematically optimal packing\nfunction sizeSmallNodeOptimal(node, isRoot = false) {\n  if (node.children.length === 0 || node.children.length > 2) {\n    // This function only handles 1-2 children\n    return false;\n  }\n\n  const child = node.children[0];\n  let best = null;\n  const predictedWidth = isRoot ? PREDICTED_ROOT_WIDTH : null;\n\n  if (node.children.length === 1) {\n    // Single child: width = child.width + padding, height = child.height + padding\n    const width = Math.max(MIN_LOGICAL_WIDTH, child.width + LA_PAD_X * 2);\n    const height = child.height + LA_PAD_TOP + LA_PAD_BOTTOM;\n    const cost = layoutCost(width, height, child.width + LA_PAD_X * 2, child.height + LA_PAD_TOP + LA_PAD_BOTTOM, predictedWidth);\n    // Placements are relative to inner area (after padding), so x=0, y=0\n    best = { width, height, placements: [{ idx: 0, x: 0, y: 0, width: child.width, height: child.height }], cost };\n  } else {\n    // Two children: test horizontal and vertical layouts\n    const child1 = node.children[0];\n    const child2 = node.children[1];\n\n    // LAYOUT 1: Horizontal (side-by-side)\n    const horizWidth = child1.width + CHILD_H_GAP + child2.width + LA_PAD_X * 2;\n    const horizHeight = Math.max(child1.height, child2.height) + LA_PAD_TOP + LA_PAD_BOTTOM;\n    // Content dimensions: tight bounding box of children (excluding padding, including gaps)\n    const horizContentWidth = child1.width + CHILD_H_GAP + child2.width;\n    const horizContentHeight = Math.max(child1.height, child2.height);\n    const horizCost = layoutCost(horizWidth, horizHeight, horizContentWidth + LA_PAD_X * 2, horizContentHeight + LA_PAD_TOP + LA_PAD_BOTTOM, predictedWidth);\n\n    best = {\n      width: Math.max(MIN_LOGICAL_WIDTH, horizWidth),\n      height: horizHeight,\n      placements: [\n        // Positions relative to inner area (0,0 = top-left after padding)\n        { idx: 0, x: 0, y: 0, width: child1.width, height: child1.height },\n        { idx: 1, x: child1.width + CHILD_H_GAP, y: 0, width: child2.width, height: child2.height }\n      ],\n      cost: horizCost\n    };\n\n    // LAYOUT 2: Vertical (stacked)\n    const vertWidth = Math.max(child1.width, child2.width) + LA_PAD_X * 2;\n    const vertHeight = child1.height + CHILD_V_GAP + child2.height + LA_PAD_TOP + LA_PAD_BOTTOM;\n    // Content dimensions: tight bounding box of children (excluding padding, including gaps)\n    const vertContentWidth = Math.max(child1.width, child2.width);\n    const vertContentHeight = child1.height + CHILD_V_GAP + child2.height;\n    const vertCost = layoutCost(vertWidth, vertHeight, vertContentWidth + LA_PAD_X * 2, vertContentHeight + LA_PAD_TOP + LA_PAD_BOTTOM, predictedWidth);\n\n    if (vertCost < best.cost) {\n      best = {\n        width: Math.max(MIN_LOGICAL_WIDTH, vertWidth),\n        height: vertHeight,\n        placements: [\n          // Positions relative to inner area (0,0 = top-left after padding)\n          { idx: 0, x: 0, y: 0, width: child1.width, height: child1.height },\n          { idx: 1, x: 0, y: child1.height + CHILD_V_GAP, width: child2.width, height: child2.height }\n        ],\n        cost: vertCost\n      };\n    }\n  }\n\n  // Set node dimensions and placements\n  node.width = best.width;\n  node.height = best.height;\n  node._use2D = true;\n  node._2DPlacements = best.placements;\n  return true;\n}\n\nfunction sizeNonLeafOptimised(node, isRoot = false) {\n  // size children first (they carry their own optimised sizes)\n  // Note: children are never roots\n  node.children.forEach(child => sizeNodeOptimised(child, false));\n\n  if (node.children.length === 0) {\n    node.width = MIN_LOGICAL_WIDTH;\n    node.height = LA_PAD_TOP + LA_PAD_BOTTOM;\n    node._use2D = false;\n    return;\n  }\n\n  // ADAPTIVE DISPATCHER: Choose packing strategy based on node complexity\n  const childCount = node.children.length;\n\n  // TIER 0: Special case for 1-2 children - exhaustive optimal packing\n  if (childCount <= 2) {\n    sizeSmallNodeOptimal(node, isRoot);\n    return;\n  }\n\n  let best = null;\n\n  // Calculate reasonable width range to test\n  const minWidth = Math.max(\n    MIN_LOGICAL_WIDTH,\n    Math.max(...node.children.map(ch => ch.width)) + LA_PAD_X * 2\n  );\n  const maxWidth = node.children.reduce((sum, ch) => sum + ch.width, 0) + LA_PAD_X * 2;\n\n  // Test 5 different widths between min and max\n  const widthsToTest = [];\n  for (let i = 0; i < 5; i++) {\n    const testWidth = minWidth + (maxWidth - minWidth) * (i / 4);\n    widthsToTest.push(Math.ceil(testWidth));\n  }\n\n  for (const testWidth of widthsToTest) {\n    const innerWidth = testWidth - LA_PAD_X * 2;\n    let packing;\n\n    // Choose strategy based on child count\n    if (childCount <= 8) {\n      // TIER 1: Multi-Strategy Exhaustive (30 attempts)\n      // Fast for small nodes, excellent results\n      packing = layout2DMultiStrategy(node.children, innerWidth, CHILD_H_GAP, CHILD_V_GAP);\n    } else if (childCount <= 15) {\n      // TIER 2: Beam Search (K=12)\n      // Balanced approach for medium nodes - increased beam width for better quality\n      packing = layout2DBeamSearch(node.children, innerWidth, CHILD_H_GAP, CHILD_V_GAP, 12);\n    } else {\n      // TIER 3: Fast Genetic Algorithm\n      // Maximum quality for complex nodes\n      packing = layout2DGenetic(node.children, innerWidth, CHILD_H_GAP, CHILD_V_GAP);\n    }\n\n    const width = Math.max(MIN_LOGICAL_WIDTH, LA_PAD_X * 2 + packing.width);\n    const height = LA_PAD_TOP + packing.height + LA_PAD_BOTTOM;\n\n    // Calculate cost with whitespace penalty (and predicted width for root nodes)\n    const contentWidth = LA_PAD_X * 2 + packing.width;\n    const contentHeight = LA_PAD_TOP + packing.height + LA_PAD_BOTTOM;\n    const predictedWidth = isRoot ? PREDICTED_ROOT_WIDTH : null;\n    const cost = layoutCost(width, height, contentWidth, contentHeight, predictedWidth);\n\n    if (!best || cost < best.cost) {\n      best = {\n        width,\n        height,\n        cost,\n        placements: packing.placements,\n        innerWidth: packing.width,\n        innerHeight: packing.height\n      };\n    }\n  }\n\n  node.width = best.width;\n  node.height = best.height;\n  node._use2D = true;\n  node._2DPlacements = best.placements; // Store 2D positions\n}\n\nfunction sizeNodeOptimised(node, isRoot = false) {\n  if (node.children.length === 0) {\n    sizeLeafOptimised(node);\n  } else {\n    sizeNonLeafOptimised(node, isRoot);\n  }\n\n  // In compact mode, only nudge aspect ratio if ratio is very far from target\n  // This prevents unnecessary padding just to hit the golden ratio\n  if (!COMPACT_MODE) {\n    const ratio = node.width / node.height;\n    if (ratio < TARGET_RATIO) {\n      const targetW = Math.ceil(node.height * TARGET_RATIO);\n      node.width = Math.max(node.width, targetW);\n    } else if (ratio > TARGET_RATIO) {\n      const targetH = Math.ceil(node.width / TARGET_RATIO);\n      node.height = Math.max(node.height, targetH);\n    }\n  }\n  // In compact mode, skip aspect ratio adjustment for smaller containers\n  // Only nudge very large containers that benefit from better proportions\n}\n\n// TWO-PASS SIZING for root width normalization awareness\n// Pass 1: Size all roots normally to get their natural widths\nlet PREDICTED_ROOT_WIDTH = MIN_LOGICAL_WIDTH;\nroots.forEach(root => sizeNodeOptimised(root, false));\n\n// Calculate the actual max root width from first pass\nconst maxRootWidthPass1 = roots.reduce((m, n) => Math.max(m, n.width), 0);\nPREDICTED_ROOT_WIDTH = maxRootWidthPass1;\n\n// Pass 2: Re-size all roots with knowledge of the final normalized width\n// This allows cost function to optimize for post-normalization layout\nroots.forEach(root => sizeNodeOptimised(root, true));\n\n// Make all root widths equal (max) for visual alignment\n// This ensures Core Business Systems, Corporate Systems, Enabling Systems, and Technologies\n// all have the same width for a cleaner, more organized layout\nconst maxRootWidth = roots.reduce((m, n) => Math.max(m, n.width), 0);\nroots.forEach(n => { n.width = maxRootWidth; });\n\n// ---------------- Placement ----------------\nconst boxes = [];\n\nfunction placeLeaf(node, innerX, innerY) {\n  const apps = SORT_PHYSICAL_AZ ? node.apps.slice().sort((a,b)=>String(a.name).localeCompare(String(b.name))) : node.apps;\n  const cols = Math.min(node._leafCols || 1, Math.max(1, apps.length));\n\n  apps.forEach((app, idx) => {\n    const c = idx % cols;\n    const r = Math.floor(idx / cols);\n    const px = innerX + c * PILL_COL_STEP;\n    const py = innerY + r * PILL_ROW_STEP;\n    boxes.push({\n      id: `app-${slugify(node.id)}-${slugify(app.id)}-${slugify(app.name)}`,\n      stencil: STENCIL_PHYSICAL,\n      x: px,\n      y: py,\n      bodyText: app.name,\n      headerText: \"\"\n    });\n  });\n}\n\nfunction placeNonLeaf(node, innerX, innerY) {\n  // Check if this node uses 2D packing or column-based layout\n  if (node._use2D && node._2DPlacements) {\n    // Use 2D MaxRects placements\n    for (const placement of node._2DPlacements) {\n      const child = node.children[placement.idx];\n      const childX = innerX + placement.x;\n      const childY = innerY + placement.y;\n      placeNode(child, childX, childY);\n    }\n  } else {\n    // Fallback to column-based layout (for backward compatibility)\n    const cols = node._childCols || Math.min(CHILD_MAX_COLS, Math.max(1, node.children.length));\n    const assignments = node._colAssignments || [];\n\n    // compute x per column using measured child widths\n    const colWidths = Array(cols).fill(0);\n    for (let c = 0; c < cols; c++) {\n      const indices = assignments[c] || [];\n      let maxW = 0;\n      for (const idx of indices) {\n        maxW = Math.max(maxW, node.children[idx].width);\n      }\n      colWidths[c] = maxW;\n    }\n\n    const colX = [];\n    let accX = innerX;\n    for (let c = 0; c < cols; c++) {\n      colX[c] = accX;\n      accX += colWidths[c] + (c < cols - 1 ? CHILD_H_GAP : 0);\n    }\n\n    // place per column, stacked with CHILD_V_GAP\n    for (let c = 0; c < cols; c++) {\n      const indices = assignments[c] || [];\n      let y = innerY;\n      indices.forEach((idx, i) => {\n        const child = node.children[idx];\n        placeNode(child, colX[c], y);\n        y += child.height + CHILD_V_GAP;\n      });\n    }\n  }\n}\n\nfunction placeNode(node, x, y) {\n  node.x = x; node.y = y;\n\n  // logical container (headerText only)\n  const logicalBox = {\n    id: `grp-${slugify(node.id)}-${slugify(node.name)}`,\n    stencil: STENCIL_LOGICAL,\n    x: node.x,\n    y: node.y,\n    width: node.width,\n    height: node.height,\n    headerText: node.name,\n    bodyText: \"\"\n  };\n\n  // Add alternating background colors based on depth in hierarchy\n  // Odd depths get white background, even depths get default (no explicit background)\n  if (node._depth !== undefined && node._depth % 2 === 1) {\n    logicalBox.backgroundColor = \"#FFFFFF\";\n  }\n\n  boxes.push(logicalBox);\n\n  const innerX = node.x + LA_PAD_X;\n  const innerY = node.y + LA_PAD_TOP;\n\n  if (node.children.length === 0) {\n    placeLeaf(node, innerX, innerY);\n  } else {\n    placeNonLeaf(node, innerX, innerY);\n  }\n}\n\n// Place roots as a single column in the requested priority order\nlet canvasY = PAGE_TOP;\nfor (const root of roots) {\n  placeNode(root, PAGE_LEFT, canvasY);\n  canvasY += root.height + ROOT_V_GAP;\n}\n\n// ---------------- Bounding & Background ----------------\nlet minX = Infinity, minY = Infinity, maxX = -Infinity, maxY = -Infinity;\nfor (const b of boxes) {\n  if (b.stencil !== STENCIL_LOGICAL) continue;\n  const bx = b.x, by = b.y, bw = b.width || 0, bh = b.height || 0;\n  minX = Math.min(minX, bx);\n  minY = Math.min(minY, by);\n  maxX = Math.max(maxX, bx + bw);\n  maxY = Math.max(maxY, by + bh);\n}\nif (!isFinite(minX)) { // fallback if no logical boxes\n  minX = PAGE_LEFT; minY = PAGE_TOP; maxX = PAGE_LEFT + 1000; maxY = PAGE_TOP + 600;\n}\n\n// margin → base bbox\nminX -= BBOX_MARGIN; minY -= BBOX_MARGIN;\nmaxX += BBOX_MARGIN; maxY += BBOX_MARGIN;\n\nlet bboxX = minX, bboxY = minY;\nlet bboxW = maxX - minX, bboxH = maxY - minY;\n\n// In compact mode with equal root widths, we don't enforce aspect ratio on the bounding box\n// This allows the diagram to size naturally to the content without artificial padding\n// (aspect ratio enforcement is disabled when TARGET_RATIO is null)\n\n// background 20 px larger on each edge than bounding box\nconst bgX = bboxX - BG_EXTRA;\nconst bgY = bboxY - BG_EXTRA;\nconst bgW = bboxW + BG_EXTRA * 2;\nconst bgH = bboxH + BG_EXTRA * 2;\n\n// Add 60px page margin so background doesn't touch page edge\nconst PAGE_MARGIN = 60;\nconst shiftX = PAGE_MARGIN - bgX;  // How much to shift everything right\nconst shiftY = PAGE_MARGIN - bgY;  // How much to shift everything down\n\nconst background = {\n  id: \"bg1\",\n  stencil: STENCIL_BG,\n  x: bgX + shiftX,\n  y: bgY + shiftY,\n  width: bgW,\n  height: bgH\n};\n\nconst bounding = {\n  id: \"bbox1\",\n  stencil: STENCIL_BBOX,\n  x: bboxX + shiftX,\n  y: bboxY + shiftY,\n  width: bboxW,\n  height: bboxH\n};\n\n// Shift all content boxes by the same amount\nconst shiftedBoxes = boxes.map(box => ({\n  ...box,\n  x: box.x + shiftX,\n  y: box.y + shiftY\n}));\n\n// Z-order: background, bounding box, then content\nconst finalBoxes = [background, bounding, ...shiftedBoxes];\n\n// Emit diagram as JSON string\nconst diagram = { id: DIAGRAM_ID, title: DIAGRAM_TITLE, boxes: finalBoxes };\nreturn [{ json: { diagram: JSON.stringify(diagram, null, 2) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ],
      "id": "e3823abb-17ae-4c8e-8fbe-710a2411995a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fromhereon-renoir.replit.app/api/diagrams",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "diagramData",
              "value": "={{ $json.diagram }}"
            },
            {
              "name": "name",
              "value": "Application Portfolio Model"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        0
      ],
      "id": "f90a6cb5-3af9-46b2-9ee7-173fdfee3e82",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "fKq6qcT8AqC9ns6U",
          "name": "Renoir API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "ExecuteQuery graphDb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExecuteQuery graphDb": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "668280b5-2e76-4811-b9e1-0844f2ded6f4",
  "meta": {
    "instanceId": "bf4036c469881415b6a76e1ac267057eec6d92008462c91de9920c515bda2510"
  },
  "id": "zFYnxo2YvN8EkiAM",
  "tags": []
}